html {
  height: 100%;
  width: 100%;
}

body {
  background-color: beige;
}

.center {
  text-align: center;
}

#wrapper {
  width: 80%;
  margin: auto;
  background-color: pink;
  box-shadow: 5px 5px purple;
}

div {
  width: 90%;
  margin: auto;
}

.itembox {
  border: 5px solid hotpink;
  border-radius: 30px;
  box-shadow: 5px 5px darkslategray;
  background-color: powderblue;
  color: darkslategray;
  padding: 10px;
}

.favorite {
  border: 5px dotted magenta;
  border-radius: 30px;
  box-shadow: 5px 5px darkslateblue;
  background-color: lavender;
  color: blueviolet;
  padding: 10px;
}


nav {
  border: 5px solid gray;
  border-radius: 30px;
  background-color: black;
  margin: 0%;
  padding:5px;
  color: white;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

li a:hover {
  background-color: darkgray;
}

